.queima-estoque2 {
  margin-top: 36px;
  display: grid;
  background: linear-gradient(180deg, #e96114 0%, #ffb200 100%);
  justify-content: center;
  text-align: center;
  padding: 16px 0;
}

.produtos-section2 {
  overflow: hidden;
  /* overflow-x: scroll; */
}

.queima-produtos2 {
  margin: 20px 20px;
  display: flex;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 3040px;
}
.destaques2 {
  background: #000;
}
.destaques-content2 h2 {
  line-height: 0.7rem;
  color: #f9c449;
}
.destaques-content2 h2 {
  opacity: 0;
  transition: 0.3s;
}
.destaques-content2 h2.ativo {
  opacity: 1;
  animation: destaqueSlide 0.3s;
}
@keyframes destaqueSlide {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, -8px, 0);
  }
}
