.etiqueta2 {
  width: 217px;
  background: #fff;
  border-radius: 30px;
  padding-bottom: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: 0.3s;
}
.etiqueta2:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.top-etiqueta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9c449;
  height: 46px;
  border-radius: 30px 30px 0 0;
}

.mid-etiqueta2 {
  position: relative;
}
.mid-etiqueta2 div {
  justify-items: right;
  width: 100px;
  display: grid;
  position: absolute;
  margin-top: -200px;
  margin-left: 117px;
  opacity: 0.9;
}
.mid-etiqueta2 .preco2 {
  font-family: "Montserrat";
  font-size: 0.7rem;
  padding: 8px 8px;
  border-radius: 16px 0 0 16px;
  background: #000;
  color: #f9c449;
  font-weight: 800;
}
.mid-etiqueta2 .preco-parcela2 {
  font-family: "Montserrat";
  font-size: 0.5rem;
  padding: 4px 4px;
  border-radius: 12px 0 0 12px;
  background: #f9c449;
  color: #000;
  font-weight: 800;
  margin-left: 21px;
  max-width: max-content;
}
.bot-etiqueta2 {
  padding-bottom: 12px;
  display: grid;
  margin-left: 8px;
}
.descricao-etiqueta2 {
  font-size: 0.9rem;
}
.vendidos2 {
  font-size: 0.7rem;
  color: #595959;
}
.frete2 {
  font-size: 0.7rem;
  color: #a00000;
}
.avaliacao2 {
  display: flex;
}
.noCarro .top-etiqueta2,
.noCarro .top-etiqueta {
  background: #f9c449;
  display: flex;
  animation: deslise 0.4s;
}

.noCarro .top-etiqueta2 h3,
.noCarro .top-etiqueta h3 {
  display: none;
}

.chamarAtencao {
  animation: treme 0.1s 1s;
  animation-iteration-count: 10; 
  /* animation: name duration timing-function delay iteration-count direction fill-mode;*/
    
}

@keyframes deslise {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes treme {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: 5px;
  }
  50% {
    margin-left: 0px;
  }
  75% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0px;
  }
}
