.header-bg {
  background-color: #000;
}
.logo-mobile {
  display: none;
}
.container {
  padding-left: 60px;
  margin: 0 auto;
}
ul.flex-items {
  font-size: 1rem;
}
ul.flex-items li {
  position: relative;
}
ul.flex-items li a {
  color: #fff;
}
ul.flex-items li + li::before {
  content: "";
  width: 1px;
  height: 16px;
  background: #f9c449;

  margin-left: -8px;
  display: block;
  position: absolute;
}
.redes-header {
  display: flex;
  gap: 8px;
  margin-left: -8px;
  margin-top: 4px;
  justify-content: center;
  align-items: center;
}
.flex-items {
  display: flex;
  padding-top: 12px;
  gap: 16px;
  align-items: center;
}
.header-div {
  align-items: center;
  /* justify-content: center; */
}

.header-div .logotipo {
  margin-bottom: 20px;
  position: relative;
}
.header-div .logotipo::before {
  content: "";
  margin-top: 30px;
  width: 100%;
  background: linear-gradient(180deg, #e96114 0%, #ffb200 100%);
  position: absolute;
  height: 4px;
  z-index: 0;
}

.grid-header {
  margin-left: 28px;
  display: grid;
}
.grid-header form input {
  transition: 0.3s;
  border: none;
  width: 40vw;
  height: 40px;
  border-radius: 50px;
  border: 4px solid #f9c449;
  background: #000;
  color: #fff;
  padding-left: 28px;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}
.grid-header form label {
  position: absolute;
  margin-left: -40px;
  margin-top: 12px;
  cursor: pointer;
}
.grid-header form label:hover {
  transform: scale(1.1);
}
.grid-header form input:hover,
.grid-header form input:focus {
  box-shadow: 0 2px 2px #f9c449;
}

.reference {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 0.8rem;
  display: flex;
  gap: 16px;
}
.reference a {
  color: #fff;
}
.client-header a {
  color: #fff;
}
.reference li {
  transition: 0.3s;
}
.reference li:hover {
  transform: scale(1.1);
}
.client-header li {
  display: flex;
  gap: 8px;
}
.client-header {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  margin-bottom: 40px;
  max-width: 48ch;
  gap: 20px;
}
.client-login span {
  position: relative;
}
.client-login span::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-left: 4px;
  margin-top: 8px;

  position: absolute;
  background: url("../img/svg/seta-baixo.svg") no-repeat;
}
@media (max-width: 1230px) {
  .reference li:last-child {
    display: none;
  }
}
@media (max-width: 1110px) {
  .grid-header form input {
    width: 30vw;
  }
  .reference li {
    display: none;
  }
  .container {
    padding-left: 20px;
  }
}
@media (max-width: 950px) {
  .client-header a p {
    display: none;
  }
  .grid-header form input {
    width: 40vw;
  }
  .client-login span::before {
    display: none;
  }
}
