.promo1 {
  padding-top: 36px;
  opacity: 0;
}
.promo1.ativo {
  opacity: 1;
  animation: spritLeft 1s;
}
.promo1 picture img:hover {
  transform: scale(1.01);
}
.promo1 picture img {
  transition: 0.3s;
  display: block;
  margin: 0 auto;
  max-width: 98%;
}

@keyframes spritLeft {
  from {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
